# Ignore large files
*.exe
*.onnx
*.json
*.txt
*.wav
# System files
.DS_Store
Thumbs.db
desktop.ini
cache

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
*.csv
*.iml
*.xml

# Backup files
*.bak
*.old
*.orig
*.tmp
*.~*

# Compressed files
*.zip
*.tar.gz
*.7z
*.rar
*.gz
*.tgz
# Bytecode and cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test results
coverage/
*.cover
*.coverage
*.coverage.*
Notes/
# Distribution files
dist/
build/
*.egg-info/

*.weights
*.pt
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
*.pth.tar.lzma