openai
torch
PyPDF2
ollama
pyyaml
beautifulsoup4
lxml
python-dotenv
pip install -U duckduckgo_search

PS C:\Users\ianjc\Desktop\FRED> Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass
PS C:\Users\ianjc\Desktop\FRED> .\.venv\Scripts\Activate.ps1
